
body {
  font-family: sans-serif;
  background-color: #fdfdfc;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
header, footer {
  background-color: #fff;
  text-align: center;
  padding: 1.5em;
  border-bottom: 1px solid #eee;
}
footer {
  border-top: 1px solid #eee;
  font-size: 0.9em;
}
.logo {
  width: 48px;
  height: auto;
  margin-bottom: 0.5em;
}
main {
  padding: 2em 1em;
  max-width: 600px;
  margin: auto;
}
h1, h2 {
  color: #222;
}
.buttons a {
  display: block;
  background: #5a4634;
  color: white;
  text-align: center;
  padding: 0.75em;
  margin: 0.5em 0;
  text-decoration: none;
  border-radius: 4px;
}
.button, .buy-button {
  display: inline-block;
  background-color: #5a4634;
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1.5em;
}
.guarantee {
  margin-top: 2em;
  padding: 1em;
  background-color: #f4f0ea;
  border-left: 4px solid #5a4634;
}
